@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-navigation {
    display: flex;
    background-color: black;
    flex-direction: row;
    opacity: 1;
    position: static;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    padding: 0 80px;
    margin: 0 auto;
  }
  .header-icons {
    display: flex;
  }
}
